<section id="aboutme">
    <div class="about-me" fxLayout="row" fxLayoutGap="0px">
        <div class="my-pic" fxFlex="50%">
            <img src="../../../assets/images/profile-pic (4)-fotor-bg-remover-20240808225957.png" alt="Avatar">
        </div>
        <div class="myself" fxFlex="50%">
            <h1>About Me</h1>
            <p>My academic journey has equipped me with a strong foundation in Software Engineering principles, 
                which I continually apply to real-world scenarios through internships and personal projects. 
                I'm excited to connect with like-minded individuals 
                and explore opportunities to make a positive impact on the world through technology. 
                Thank you for visiting my portfolio!</p>

                
            <div class="personal-info"  >
                <strong>Some personal info</strong>
                <ol class="alternating-colors">
                    <li>
                    <strong>Full Name</strong>
                    <p>Masith Pramuditha Jayarathna</p>
                    </li>
                    <li>
                    <strong>City</strong>
                    <p>Kirama, Hambantota District</p>
                    </li>
                    <li>
                    <strong>Degree</strong>
                    <p>BSc(hons) Software Engineering, University of Kelaniya</p>
                    </li>
                    <li>
                    <strong>Marital Status</strong>
                    <p>Unmarried</p>
                    </li>
                </ol>
            </div>




            <!-- <div fxLayout="row" class="mydetails" fxLayoutGap="20px">
                <div class="icon" fxFlex="20%">
                    <img src="../../../assets/icons/smartphone.png" alt="">
                </div>
                <div class="content" fxFlex="80%">
                    
                    <a href="">+94 769 680 852</a>
                </div>
            </div> -->
            
        </div>
    </div>
</section>