<section class="contact" id="contactme">
    <div  fxLayout="row" >
        <div fxFlex="100%">
            <h1>Contact Me</h1>
        </div>
    </div>
    <div class="contact-me" fxLayout="row" fxLayoutGap="0px">
        <div class="contacts" fxFlex="100%">           
     
            <form class="form">
                <p type="Name:"><input placeholder="Write your name here.."></p>
                <p type="Email:"><input placeholder="Let me know your Email.."></p>
                <p type="Message:"><textarea placeholder="What would you like to tell us.."></textarea></p>
                <button>Send Message</button>
                <div>
                  <span class="fa fa-phone"></span>+94 76 968 0852
                  <span class="fa fa-paper-plane"></span>pramudithajayarathna&#64;gmail.com
                </div>
            </form>
        </div>
    </div>
</section>        