<nav>
    <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="40%"><span class="name">Masith</span></div>
        <div fxFlex="10%" class="nav-item"><button onclick="scrollToSection('section2')">Home</button></div>
        <div fxFlex="10%" class="nav-item"><button onclick="scrollToSection('aboutme')">About me</button></div>
        <div fxFlex="10%" class="nav-item"><button onclick="scrollToSection('myskills')">My Skills</button></div>
        <div fxFlex="10%" class="nav-item"><button onclick="scrollToSection('myprojects')">My Projects</button></div>
        <div fxFlex="10%" class="nav-item"><button onclick="scrollToSection('contactme')">Contact me</button></div>
        <div fxFlex="10%" class="nav-item"><button onclick="scrollToSection('blogs')">Blogs</button></div>
    </div>
</nav>
  