<div class="main-div" fxLayout="row" fxLayoutGap="0px">
    <div class="welcome" fxFlex="50%">
    Welcome!  
    <!-- <span class="slogan" fxLayout="row">to my world</span> -->
    <p class="my-self" fxLayout="row">I am a final year Software Engineering undergraduate driven by a deep passion for technology and innovation. 
        With boundless enthusiasm, I embrace challenges and approach each endeavor with wonder and determination. 
        Collaboration is my forte, and I thrive in team environments, valuing diverse perspectives.</p>
    <a href="#" class="btn-flip" data-back="My CV" data-front="Download"></a>
    
    </div>
    <div fxFlex="50%"><img src="../../../assets/images/profile-pic (10).png" alt="My pic"></div>
</div>